.App {
  text-align: center;
  background-color: #e4f7fc;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App a {
  text-decoration: none;
}

.App-header {
  background-color: #140043;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 40px;
  color: white;
  font-weight: 900;
  position: sticky;
  top: 0;
  z-index: 99;
}

.App .home,
.App .player {
  display: flex;
  flex-direction: column;
  margin: 20px 40px;
  min-width: 50%;
  min-height: 50%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 25px #91a4aa;
  background-color: #d9f7ff;
}

.App .home {
  align-items: center;
  justify-content: space-evenly;
}

.App-header > * {
  flex: 1;
}

.App-header:last-child {
  display: flex;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.add-player {
  display: flex;
  justify-content: center;
}

.add-player-text {
  width: 150px;
}

.add-player-text,
.players-list > li > span {
  height: 20px;
  padding: 10px;
  font-size: larger;
}

.add-player-next {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.players-list {
  list-style: none;
  overflow-y: scroll;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.players-list > li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: solid 2px red;
  border-radius: 20px;
  margin-bottom: 5px;
  border-color: #140043;
}

.players-list > li > span {
  border-radius: 10px;
  font-weight: 900;
  text-align: left;
  color: #140043;
}

.players-list > li > span:first-child {
  min-width: 150px;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-score {
  margin: 20px 40px;
  min-width: 50%;
  min-height: 50%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 25px #91a4aa;
  background-color: #d9f7ff;
}

.App-logo {
  animation: App-logo-spin infinite 1.3s linear;
}

.space-between {
  display: flex;
  justify-content: space-evenly;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-logo:hover {
  animation: App-logo-hover-spin infinite 0.3s linear;
}

@keyframes App-logo-hover-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
